.news {
  background-color: rgb(238, 238, 238);
  box-shadow: -2px 6px 6px;
  margin: 13px 0px 28px 0px;
  padding: 13px 0px 21px 0px;
  width: 90%;
  height: auto;
  min-height: 200px;
  border-radius: 30px;
}
